<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero  min-h-screen">
    <button class="btn btn-primary">Hello daisyUI</button>  
    </section>
</body>
</html>
